body {
  background: url("../img/top-writing-tools.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 15px;
}
.links {
  width: 50%;
  float: inline-end;
  background-color: lavender;
}
.me h1 {
  border: 1px;
  margin: auto;
  background-color: lavender;
  padding: 20px;
  text-align: center;
  color: purple;
}
h2 {
  font-size: 27px;
  color: Purple;
}
img {
  width: 30%;
  height: 30%;
  float: right;
  margin: 30px;
}
