body {
  background: url(".../img/top-writing-tools.jpg")
}
.links {
  width: 40%;
  float: inline-end;
  background-color: inherit;
}
.me h1 {
  border: 1px;
  margin: auto;
  background-color: purple;
  padding: 20px;
  text-align: center;
  color: plum;
}
