body {
  background: url("...img/top-writing-tools.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.links {
  width: 40%;
  float: inline-end;
  background-color: inherit;
}
.me h1 {
  border: 1px;
  margin: auto;
  background-color: plum;
  padding: 20px;
  text-align: center;
  color: purple;
}
h2 {
  font-size: 27px;
  color: Purple;
}
img {
  width: 30%;
  height: 60%;
  float: left;
  margin: 30px;
}
